DEEPSEEK_API_KEY=

# ONLYOFFICE Document Server integration
# Example:
# ONLYOFFICE_DOCUMENT_SERVER=http://127.0.0.1:8080
# ONLYOFFICE_HOST_PAGE_URL=http://127.0.0.1:3001/editor-host
# ONLYOFFICE_DOCUMENT_URL_BASE=http://127.0.0.1:3001/documents
# ONLYOFFICE_CALLBACK_URL=http://127.0.0.1:3001/onlyoffice/callback
# QIUAI_DOCUMENT_HOST_PORT=3001
QIUAI_DOCUMENT_HOST_PORT=3001
ONLYOFFICE_DOCUMENT_SERVER=
ONLYOFFICE_HOST_PAGE_URL=
ONLYOFFICE_DOCUMENT_URL_BASE=
ONLYOFFICE_CALLBACK_URL=
